<div *ngIf="!article" class="loader">
    <img src="/assets/loading.gif" alt="Загрузка статьи" />
</div>

<article class="article" *ngIf="article">
  <header class="entry-header">
    <div class="entry-meta">
      <span>
        <time dateTime="{{article.createdIso}}">{{article.created}}</time>
        <time class="updated" dateTime="{{article.modifiedIso}}"></time>
      </span>
      <a routerLink="/articles/edit/{{article.key}}" *ngIf="authService.isLoggedIn()">Редактировать</a>
    </div>
    <h2 class="entry-title">
        {{article.title}}
    </h2>
  </header>
  <markdown [data]="article.content" >
  </markdown>
</article>