<footer id="colophon" class="site-footer" role="contentinfo">
  <scroll-to-top></scroll-to-top>
  <div class="container">
    <div>
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <div>
          <ul id="menu-menu-1">
            <li>
              <a href="https://vk.com/nkochnev">vk</a>
            </li>
            <li>
              <a href="https://github.com/nkochnev">github</a>
            </li>
            <li>
              <a href="http://habrahabr.ru/users/nkochnev/">habrahabr</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/nkochnev">linkedin</a>
            </li>
          </ul>
        </div>
      </nav><!-- #site-navigation -->
    </div>
    <div>
      Skype <a href="skype:n.kochnev?call">n.kochnev</a> <span> | </span>
      Telegram <a href="https://telegram.me/nkochnev">nkochnev</a> <span> | </span>
      Email <a href="mailto:n.kochnev@gmail.com">n.kochnev@gmail.com</a>
    </div><!-- .site-info -->
  </div>
  <div>
  </div>
</footer>
