<div *ngIf="article">
  <form #articleForm='ngForm' (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="key">Ключ статьи</label>
      <span id="key" name="key" *ngIf='key'>{{article.key}}</span>
      <input [(ngModel)]="article.key" *ngIf='!key' class="form-control" id="key" name="key" placeholder="key" required>
    </div>
    <div class="form-group">
      <input [(ngModel)]="article.isDraft" type="checkbox" name="isDraft" id="isDraft">
      <label for="isDraft">
        Черновик
      </label>
    </div>
    <div class="form-group">
      <label for="title">Название статьи</label>
      <input [(ngModel)]="article.title" class="form-control" id="title" name="title" placeholder="title" required>
    </div>
    <div class="form-group">
      <label for="previewContent">Предпросмотр статьи</label>
      <textarea [(ngModel)]="article.previewContent" id="previewContent" name="previewContent"
        [readonly]="false"></textarea>
    </div>
    <div class="form-group">
      <label for="seoKeyWords">SEO: ключевые слова</label>
      <input [(ngModel)]="article.seoKeyWords" class="form-control" id="seoKeyWords" name="seoKeyWords" placeholder="seoKeyWords">
    </div>
    <div class="form-group">
      <label for="seoDescription">SEO: описание</label>
      <input [(ngModel)]="article.seoDescription" class="form-control" id="seoDescription" name="seoDescription"
        placeholder="seoDescription">
    </div>
    <div class="form-group">
      <label for="content">Содержание статьи</label>
      <textarea [(ngModel)]="article.content" id="content" name="content" [readonly]="false" debounce="500" required>
      </textarea>
    </div>
    <div class="form-group">
      <button [disabled]='!articleForm.form.valid' type="submit">Сохранить</button>
    </div>
  </form>
</div>