<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<variable name="sitescheme" value="http${when:when=equals('${aspnet-request:serverVariable=HTTPS}','on'):inner=s}" />
	<variable name="siteurl" value="${sitescheme}://${aspnet-request:serverVariable=HTTP_HOST}" />
	<variable name="url" value="${siteurl}${aspnet-request:serverVariable=URL}${when:when=length('${aspnet-request:serverVariable=QUERY_STRING}') &gt; 0:inner=?${aspnet-request:serverVariable=QUERY_STRING}}" />
	<variable name="upperlevel" value="${level:uppercase=true}" />
	<variable name="nowdatetime" value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff}" />
	<variable name="nl" value="${newline}" />
	<variable name="exmessage" value="${exception:maxInnerExceptionLevel=5:innerFormat=shortType,message,method:format=Message}" />
	<variable name="exstacktrace" value="${exception:format=StackTrace}" />
	<variable name="logDir" value="${basedir}/Logs/${date:format=yyyy-MM-dd}" />
	<variable name="detailedLayout" value="${nowdatetime} (${upperlevel}): ${message} ${nl}URL: ${url} ${nl} ${exmessage}${nl}${exstacktrace}" />
	<variable name="shortLayout" value="${nowdatetime} (${upperlevel}): ${message}" />
	<targets async="true">
		<target name="fileInfoTarget" type="File" fileName="${logDir}/info.log" layout="${shortLayout}" />
		<target name="fileErrorTarget" type="File" fileName="${logDir}/error.log" layout="${detailedLayout}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="fileErrorTarget" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="fileInfoTarget" />
	</rules>
</nlog>